.info {
    display: grid;
    border: 7px solid red;
    margin:auto;

    .main_pic{ //BOX DOESNT FOLLOW PIC SIZE
        border: 7px solid blue;
        grid-row: 1;
        grid-column: 1/4;
        overflow:hidden;
    }
    .main_pic img{
        height:fit-content;
    }

    .left_numbers{
        display: inline-block;
        border: 5px solid orange;
    }
    .left_para{
        display: inline-block;
        border: 5px solid green;
        grid-column: 3/4;
    }
    .right_title{
        display: inline-flex;
        background-color: red;
    }

    .video{
        border: 5px solid orange;
    }

}