.header{
    display: grid;
    grid-template: 1 fr/3 fr;
    font-size: 20px;
    .head_left{
        justify-content: left;
    }
    .head_menu{
        display: inline-flex;
        grid-column: 3;
        grid-row: 1;  
        justify-content:end;
        gap: 10px;
    }
}
