.footer button{
    font-size: 20px;
    color: black;
    cursor: pointer;
}
.footer{
    // display: flex;
    display: grid;
    padding: 10px;
    grid-template: 1 fr/3 fr;
    .foot_left{
        display: flex;
        justify-self: left;
    }
    .right_email{
        display:flex;
        grid-column: 3;
        grid-row: 1;  
        justify-self:right;
        gap: 20px;
        padding-right: 10px;
    }
    .right_email button{
        color: rgb(89,47,40);
    }
    @include respond('431px'){
        font-size: smaller;
        grid-template: 1fr/58%;
        button{
            font-size: small;
        }
    }
}