/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
/* min body height */
body {
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

a, button {
  cursor: revert;
  font-family: "Oswald", sans-serif;
  background: none;
  border: none;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input, textarea {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.info {
  display: grid;
  position: relative;
  font-family: "Oswald", sans-serif;
  margin: auto;
}
@media screen and (max-width: 431px) {
  .info {
    display: flex;
    flex-direction: column;
    font-size: smaller;
  }
}
.info .main_pic {
  display: flex;
  grid-column: 1/4;
  overflow: hidden;
  max-height: 700px;
}
.info .main_pic a {
  display: grid;
}
.info .main_pic img {
  height: -moz-fit-content;
  height: fit-content;
}
.info #right {
  display: inline-flex;
  background-color: transparent;
  justify-self: right;
  justify-content: end;
  align-self: center;
  padding-right: 15px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
}
.info #left {
  display: flex;
  background-color: transparent;
  align-self: center;
  padding-left: 15px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  position: absolute;
}
.info .left_info {
  margin-left: 30px;
}
@media screen and (max-width: 431px) {
  .info .left_info {
    margin: 0px;
  }
}
.info .details {
  display: grid;
  padding: 30px 0px 0px 40px;
  gap: 80px;
  border-left: 20px solid rgb(115, 186, 155);
}
@media screen and (max-width: 431px) {
  .info .details {
    display: block;
  }
}
.info .left_numbers {
  padding-left: 30px;
}
.info .left_numbers h3 {
  font-weight: 600;
  letter-spacing: 2px;
}
.info .left_numbers .progIcons {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  gap: 10px;
}
@media screen and (max-width: 431px) {
  .info .left_numbers {
    padding: 0px;
  }
}
.info .left_para {
  display: inline-block;
  grid-column: 3/4;
  padding-bottom: 15px;
  margin-right: 5px;
}
.info .right_title {
  display: inline-flex;
  font-weight: 600;
  letter-spacing: 2px;
  padding-top: 15px;
  justify-self: end;
}
.info .right_info {
  display: grid;
  position: relative;
  padding-top: 30px;
  padding-left: 15px;
  margin-right: 15px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.info .right_info .right_para {
  display: grid;
  padding-right: 20px;
  padding-top: 15px;
  border-right: 20px solid rgb(115, 186, 155);
}
.info .right_info .slideshow {
  overflow: hidden;
  display: flex;
  position: relative;
  width: 100%;
}
.info .right_info .slide_inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.info .right_info .slide_inner .slick-prev {
  position: absolute;
  left: 15px;
  z-index: 1;
}
.info .right_info .slide_inner .slick-next {
  position: absolute;
  right: 18px;
  z-index: 1;
}
@media screen and (max-width: 431px) {
  .info .right_info {
    padding-top: 15px;
    display: block;
  }
}
.info .video {
  position: relative;
  min-height: 534px;
}
.info .video iframe {
  position: absolute;
}
@media screen and (max-width: 431px) {
  .info .video {
    min-height: 235px;
  }
}
.info .header {
  display: grid;
  padding: 10px;
  grid-template: 1 fr/3 fr;
  font-size: 30px;
  position: absolute;
  width: 100%;
}
.info .header button {
  color: white;
  cursor: pointer;
}
.info .header .head_left {
  display: flex;
  justify-self: left;
}
.info .header .head_menu {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
  gap: 20px;
}
@media screen and (max-width: 431px) {
  .info .header {
    font-size: 15px;
    grid-template: 1fr/58%;
  }
}

.middleImgs {
  display: grid;
  grid-template-rows: 110px;
  overflow: hidden;
  align-self: center;
  justify-self: center;
  max-width: 1200px;
  padding-top: 80px;
  padding-bottom: 5px;
  margin: auto;
}
.middleImgs .titleBIO {
  position: absolute;
  margin-top: 20px;
  margin-left: 90px;
  font-size: 40px;
}
@media screen and (max-width: 431px) {
  .middleImgs .titleBIO {
    position: relative;
    justify-self: center;
    margin: 0px;
  }
}
.middleImgs .fam {
  max-height: 400px;
  max-width: 300px;
  align-items: center;
  justify-self: center;
  position: absolute;
  overflow: hidden;
}
@media screen and (max-width: 431px) {
  .middleImgs .fam {
    position: relative;
  }
}
.middleImgs .me {
  max-height: 500px;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.middleImgs .bioInfo {
  justify-self: right;
  width: 35%;
}
@media screen and (max-width: 431px) {
  .middleImgs .bioInfo {
    justify-self: center;
    width: 80%;
    padding: 10px;
  }
}
@media screen and (max-width: 431px) {
  .middleImgs {
    padding-top: 0px;
    position: relative;
    align-items: center;
  }
}

.aboutheader button {
  font-size: 30px;
  color: black;
  cursor: pointer;
}
@media screen and (max-width: 431px) {
  .aboutheader button {
    font-size: 15px;
  }
}

.aboutheader {
  display: grid;
  padding: 10px;
  grid-template: 1 fr/3 fr;
  font-size: 20px;
  position: absolute;
  width: 100%;
}
.aboutheader .head_left {
  display: flex;
  justify-self: left;
}
.aboutheader .head_menu {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
  gap: 20px;
}
@media screen and (max-width: 431px) {
  .aboutheader {
    position: unset;
    align-items: center;
  }
  .aboutheader .aboutheader button {
    font-size: 15px;
  }
}

.footer button {
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.footer {
  display: grid;
  padding: 10px;
  grid-template: 1 fr/3 fr;
}
.footer .foot_left {
  display: flex;
  justify-self: left;
}
.footer .right_email {
  display: flex;
  grid-column: 3;
  grid-row: 1;
  justify-self: right;
  gap: 20px;
  padding-right: 10px;
}
.footer .right_email button {
  color: rgb(89, 47, 40);
}
@media screen and (max-width: 431px) {
  .footer {
    font-size: smaller;
    grid-template: 1fr/58%;
  }
  .footer button {
    font-size: small;
  }
}/*# sourceMappingURL=index.css.map */